@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* color https://www.color-hex.com/color-palette/39111 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.targetH1 {
  text-align: center;
  margin: 70px 0px;
  font-size: 40px;
  font-family: 'Press Start 2P', system-ui;
  font-weight: 400;
  background: linear-gradient(#fc393e, #ff8829);
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.mainSpiningWheel{
width: 90%;
position: relative;
margin: auto;
}
.targetAnimation {
  height: 250px;
  width: 250px;
  border: 10px dotted orange;
  border-radius: 100%;
  animation: rotateDiv 10s linear infinite;
  position: absolute;
  left: 40.5%;
  top: 10%;
  transform: translate(-50%,-50%);
  /* z-index: -1; */

}
@keyframes rotateDiv {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.wrapResult {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  padding-top: 60px;
}
.nextRoundButton {
  padding: 2px 5px;
  border: 5px double orange;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  border-radius: 30px;
}
.nextRoundButton:hover {
  background-color: orange;
}

.main {
  width: 95%;
  display: flex;
  margin: auto;
  justify-content: space-between;
  margin-top: 120px;
  margin-bottom: 20px;
}

.user {
  width: 47%;
  height: 450px;
  display: flex;
  flex-direction: column;
  border: solid 2px pink;
  align-items: center;
  padding-top: 30px;
}
.wrapImg {
  width: 100%;
  display: flex;
  justify-content: center;
}

.sizeImg {
  height: 150px;
  width: 150px;
  margin: 10px;
  object-fit: contain;
  border-radius: 100%;
}
.targetRobotImg {
  height: 200px;
}
.robot {
  width: 47%;
  border: solid 2px green;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}
.playerChoice {
  margin-bottom: 0px;
  font-size: 20px;
  font-family: 'Press Start 2P', system-ui;
  font-weight: 400;
  background: linear-gradient(#fc393e, #ff8829);
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
#resultID {
  background-color: #ff8829;
}
